.footer-container{
    width: 90vw;
max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4cm;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    text-align: left;
}
.grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-image-card-container{
    display: flex;
    flex-direction: column;
}
.footer-item-heading{
    color: rgb(255, 0, 85);
}
.footer-icd{
    margin-left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-cards{
    margin-top: 0.5cm;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-text{
    margin-top: 2cm;
}
.footer-item-text{
    font-size: 0.4cm;
    cursor: pointer;
}
@media screen and (max-width:500px){
    .footer-item-text{
        font-size: 0.35cm;
    }
    .footer-container{
        grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
    }
}